section.footer-area{
    background-color: var(--cadet);
    margin-top: 2rem;
    min-height: 40vh;
    padding: 0px 5px;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-content: center;
    gap: 2rem;
}

.link{
    box-shadow: 0 2px 0 var(--opacity-cadet);
    color: var(--feldgrau);
    font-weight: 800;
}